/***极速交单**/
body{
    color:#666 !important;
    font-family: Microsoft YaHei !important;
}
.foot-f04a3a{
    color:#F04A3A;
}
.fast-tender .personal-info{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-left: 4px solid #F04A3A;
    padding-left: 5px;
    font-size: 1rem;
}
.fast-tender .apply-info{
    border-top:1px solid #c7c7c7;
    border-bottom:1px solid #c7c7c7;
    padding:0 16px;
}
.fast-tender .apply-info .apply-box{
    height:60px;
    padding-top:20px;
    padding-bottom:20px;
    position:relative;
}
.fast-tender .apply-info .apply-box .inputs-box input[type="text"],
.fast-tender .apply-info .apply-box .inputs-box input[type="tel"]{
    text-align:right;
}
.fast-tender .apply-info .apply-name{
    border-bottom:1px solid #e4e4e4;
}
.fast-tender .apply-info .apply-id{
    border-bottom:1px solid #e4e4e4;
}
.fast-tender .apply-info .apply-id .inputs-box input{
    width:200px;
}
.fast-tender .apply-info .apply-sum{
    border-bottom:1px solid #e4e4e4;
}
.fast-tender .apply-info .apply-sum .unit{
    padding-left:5px;
}
.fast-tender .other-info{
    text-align: left;
    margin:0 5px;
    padding-bottom:10px;
    padding-left:6px;
}
.fast-tender .other-info span{
    display: inline-block;
    width: 32%;
    padding: 8px 0px;
    border: 1px solid #c7c7c7;
    border-radius: 16px;
    text-align: center;
    margin: 5px 0px 5px 0px;
    background:#fff;
}
.fast-tender .other-info span.bg-colorfoot{
     color:#fff;
     background:#f04a3a;
     border:1px solid #f04a3a;
 }
.fast-tender .apply-info .apply-box .glyphicon{
    position: relative;
    top: 3px;
    margin-left:5px;
}
.fast-tender .jiaodan{
    margin-bottom:20px;
}
/****保存相册****/
.saveAlbum .success{
    margin-top:40px;
    margin-bottom:20px;
}
.saveAlbum .success-hint{
    text-align: center;
    font-size:1.4rem;
    color:#01b976;
}
.saveAlbum .info-box{
    margin:0 15px;
    margin-top: 15px;
    text-align: left;
    padding:18px 14px;
    background:#fff;
    border-radius:10px;
    border:1px solid #e4e4e4;
}
.saveAlbum .info-box .data-head{
    position:relative;
}
.saveAlbum .info-box .data-head .data-require1,
.saveAlbum .info-box .data-head .data-require2,
.saveAlbum .info-box .data-head .data-require3{
    position:absolute;
    left:81px;
}
.saveAlbum .info-box .data-head .data-ask1,
.saveAlbum .info-box .data-head .data-ask2{
    position:absolute;
    left:109px;
}
.saveAlbum .info-box p{
    color:#666;
    font-size:14px;
}
.saveAlbum .info-box p .info-content{
    display:inline-block;
}
.saveAlbum p.info-data{
    font-size:16px;
    color:#333;
    border-bottom:1px solid #c7c7c7;
    padding-bottom:10px;
    margin-bottom:5px;
    padding-left:5px;
}
.saveAlbum .success .img{
    width:80px;
    height:80px;
    margin:0 auto;
}
.saveAlbum .text-manger{
    color:#666;
    text-align:left;
    margin:0 28px;
    font-size:14px;
    margin-top:12px;
    margin-bottom:24px;
}
.saveAlbum .text-issue{
    color:#999;
    text-align: center;
    font-size:14px;
    margin-top:12px;
    margin-bottom:20px;
}
/***专业交单模式弹框****/
.majorModal .modal-content{
    border:none;
}
.majorModal .modal-content.loan-title{
    background-color:transparent;
    border:none;
    font-size:1.1rem;
    color:#fff;
    font-weight:bold;
    padding-left:16px;
    margin-top: 9rem;
    margin-bottom:15px;
}
.majorModal .entrance .modal-box{
    padding:8px 12px;
    border-radius:13px;
}
.majorModal .entrance .modal-title{
    margin-left:15px;
    width:190px;
}
.majorModal .entrance .modal-title .title-heading{
    margin-top:10px;
    font-size:1.2rem;
    margin-bottom:5px;
    position:relative;
}
.majorModal .entrance .modal-title .title-heading .limit{
    padding: 3px 6px;
    background: #fa8186;
    color: #fff;
    font-size: 12px;
    border-radius: 7px;
    margin-left: 8px;
    position: absolute;
    top: 3px;
}
.majorModal .entrance .modal-title .bottom-font{
    color:#777;
    font-size:12px;
}
.majorModal .entrance .pull-left img{
    width:64px;
    height:64px;
}
.majorModal .entrance .modal-content.modal-close{
    background-color:transparent;
    border:none;
    height:0;
    margin-top:3rem;
}
.majorModal .entrance .modal-content.modal-close .close-btn{
    margin:0 auto;
    height:55px;
    width:55px;
}
/**右上角货币图案**/
.majorModal .modalEntrance .modal-box{
    position:relative;
}
.majorModal .modalEntrance .modal-box .currence-box{
    width: 78px;
    height: 50px;
    position: absolute;
    right: 0;
    top: -26px;
}
/****使用rem布局，适配各个设备****/
@media (width:320px) and (height:480px){
    .majorModal .entrance .modal-title .title-heading .limit{
        position: absolute;
        top: 0;
    }
    .majorModal .modal-content.loan-title{
        margin-top: 105px;
    }
    .majorModal .entrance .modal-content.modal-close{
        margin-top:2rem;
    }
    .majorModal .entrance .modal-title .title-heading{
        margin-top:13px;
    }
}
@media (width:320px) and (height:568px) {
    .majorModal .entrance .modal-title .title-heading .limit{
        position: absolute;
        top: 0;
    }
    .majorModal .modal-content.loan-title{
        margin-top: 110px;
    }
    .majorModal .entrance .modal-content.modal-close{
        margin-top:2rem;
    }
    .majorModal .entrance .modal-title .title-heading{
        margin-top:13px;
    }
}
@media only screen and (min-width:360px){
    .majorModal .entrance .modal-title .title-heading .limit{
        position: absolute;
        top: 2px;
    }
    .majorModal .modal-content.loan-title{
        margin-top: 110px;
    }
    .majorModal .entrance .modal-content.modal-close{
        margin-top:2rem;
    }
    .majorModal .entrance .modal-title .title-heading{
        margin-top:10px;
    }
}
@media only screen and (min-width:410px){
    .majorModal .entrance .modal-title .title-heading .limit{
        position: absolute;
        top: 2px;
    }
    .majorModal .modal-content.loan-title{
        margin-top: 110px;
    }
    .majorModal .entrance .modal-content.modal-close{
        margin-top:2rem;
    }
    .majorModal .entrance .modal-title .title-heading{
        margin-top:10px;
    }
}
@media only screen and (min-width:435px){
    .majorModal .entrance .modal-title .title-heading .limit{
        position: absolute;
        top: 2px;
    }
    .majorModal .modal-content.loan-title{
        margin-top: 125px;
    }
    .majorModal .entrance .modal-content.modal-close{
        margin-top:2rem;
    }
    .majorModal .entrance .modal-title .title-heading{
        margin-top:10px;
    }
}