*{
	font-family: "microsoft yahei";
}
html{font-size:16px;}
input[type="submit"],input[type="reset"],input[type="button"],input:focus,button:focus,select:focus,textarea:focus{ outline:none;}
input{font-family:Microsoft YaHei;-webkit-appearance:none; resize:none; border-radius:0;}
	body{
	background-color: #f7f8fc;
}
.badge{
	background-color: #f04a3a;
}
.color-red{
	color: #f04a3a;
}
.title-top{
	margin-top:10px;
	margin-bottom:10px;
	color:#000;
}
.title-middle{
	color:#000;
}
.color-foot{
	color:#555 !important;
}
.color-foot-1{
	color:#333 !important;
}
.color-foot-2{
	color:#666 !important;
}
.bg-color1{
	background:#F04A3A;
	margin-top: 20px;
	margin-bottom: 50px;
	color:#fff;
	height:44px;
	border-radius: 10px;
	font-size:1.2rem;
}
.bg-color1:hover{
	color:#fff;
}
.bg-color1:active{
	color:#fff;
}
.btn-my01{
    background-color: #F04A3A;
    margin-top: 20px;
	margin-bottom: 50px;
	color:#fff;
	height:44px;
	border-radius: 10px;
	font-size:1.2rem !important;
}
.btn-my01:active{
    color:#fff !important;
    background:#F04A3A !important;
}
.btn-my01:hover{
    color:#fff !important;
    background:#F04A3A !important;
}
.btn-my03{
    background-color: #C7C7C7;
    margin-top: 20px;
	margin-bottom: 50px;
	color:#fff;
	height:44px;
	border-radius: 10px;
	font-size:1.2rem !important;
}
.btn-my03:active{
    color:#fff !important;
    background:#C7C7C7 !important;
}
.btn-my03:hover{
    color:#fff !important;
    background:#C7C7C7 !important;
}
.h14px{
	height: 20px;
	padding: 0px;
}
input.form-control,input.form-control:focus {
    border:none;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}
.list-group{
	margin-bottom: 8px;
}
.list-group .list-group-item .pull-right{
	color: #999999;
}
table{
	background-color: #FFFFFF
}
th,td{
	text-align: center !important;
	font-size: 12px;
}
/*鑱旂郴浜�/
#contact #yihun{
	color: #000000;
}
#add-contact{
	text-decoration: underline;
	color: #396cff;
	margin-bottom: 20px;
}
/*鎻愪氦缁撴灉*/
.text-success{
	color: #01b976;
}
.text-danger{
	color: #f04a3a;
}
.m-up-60{
	margin-top: 60px;
}
.m-down-60{
	margin-bottom: 60px;
}
/*鑱屼笟璧勬枡*/
.phone-number .mg-0{
	margin: 0px;
	padding: 0px;
}
.phone-number .col-xs-3{
	padding: 0px;
}
.phone-number{
	width: 175px;
}
.phone-number .quhao{
	width: 50px;
}
.phone-number .haoma{
	width: 75px
}
.phone-number input{
	padding: 0px;
	height: 20px;
}
/*杩涘害鏌ヨ*/
#jindu a{
	text-decoration: underline;
	color: #396cff;
}
/*娉ㄥ唽*/
#register{
	background-color: #FFFFFF;
}
#register .input-group{
	height: 42px;
	/*margin-top: 12px;*/
}
#register .input-group input{
	padding-left: 4px;
	border-bottom: 1px solid #cfcfcf;
	    height: 42px;
}
#register .input-group-addon{
	background-color: #FFFFFF;
	border: 0px;
	padding-right: 4px;
	font-size: 16px;
	margin-top: 8px;
}
#register p{
	font-size: 12px;
	padding-top: 8px;
}
#register p a{
	color: #396cff;
}
#register h5 a{
	color: #396cff;
	text-decoration: underline;
}
#register h5 small{
	font-size: 12px;
	color: #c8c8c8;
}
.input-group-btn{
	padding: 4px;
	border-bottom: 1px solid #CFCFCF;
	font-size: 12px;
    
}
.input-group-btn .btn{
	padding: 8px;
    font-size: 12px;
    background-color: #f04a3a;
    border: 0px;
    color: #FFFFFF;
    border-radius: 12px;
}
.input-group-btn:last-child>.btn{
	border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
/******闄勪欢涓婁紶******/
.container-fluid .aside-line{
	border-left:4px solid #F04A3A;
	padding-left:5px;
	font-size:16px;
	margin-top:15px;
	margin-bottom:10px;
}
.glyphicon {
	position: relative;
	top:3px !important;
}
.clear{
	margin-bottom:-15px;
}
.clear:after{
	content:'';
	clear:both;
	display:block;
}
input[type='tel']{
	margin-bottom: 0;
	height: 20px !important;
	padding:0 !important;
}
.mui-picker{
	background-color: #fff !important;
}

.myContent-box .dkfooter{
	line-height:50px;
	text-align:center;
	border-top:1px solid #c7c7c7;
}
.myContent-box .dkfooter .colors:hover{
	cursor:pointer;
}
.myContent-box .dkfooter div{
	width:49%;
	display:inline-block;
	text-align:center;
	font-size:1rem;
}
.myContent-box .dkfooter .dismiss-left{
	border-right:1px solid #c7c7c7;
}
.myContent-box .linkman-group{
	margin-bottom:-1px;
}
.myContent-box .row .col-xs-12{
	text-align:center;
	padding:5px;
}
.select{
	margin-bottom:0px;
}
.myContent-box .delete-info{
	text-align: center;
	font-size:16px;
	line-height:60px;
}
.myContent-box .dkContent{
	position:relative;
	width:90%;
	margin: 0 auto;
}
.myContent-box .dkfooter{
	line-height:50px;
	text-align:center;
	border-top:1px solid #ccc;
}
.myContent-box .dkfooter .colors:hover{
	cursor:pointer;
}
.myContent-box .dkfooter div{
	width:49%;
	display:inline-block;
	text-align:center;
	font-size:16px;
	color: #F04A3A;
}
.myContent-box .dkfooter .dismiss-left{
	border-right:1px solid #ccc;
}
.none{display:none}
